@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";
@import './btn-back.css';

/* Common */

body {
    font-family: "Montserrat", serif;
}

input,
textarea,
select {
    font-family: inherit;
}

/** Reset */

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

.main-div-time {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 36px;
}

.div-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

#datetime-picker {
    padding: 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    outline: none;
    transition: border 500ms ease-out, color 500ms ease-out;
}

#datetime-picker:hover {
    border: 1px solid #000;
}

#datetime-picker:focus {
    border: 1px solid #4e75ff;
}

#datetime-picker:disabled {
    color: #808080;
    pointer-events: none;
}

button[data-start] {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background 500ms ease-out, color 500ms ease-out;
    color: #fff;
    background: #4e75ff;
    cursor: pointer;
}

button[data-start]:disabled {
    background: #cfcfcf;
    color: #989898;
    cursor: default;
    pointer-events: none;
}

button[data-start]:hover {
    background: #6c8cff;
}

.timer {
    display: flex;
    gap: 24px;
}

.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
}

.field .value {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.field .label {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.flatpickr-calendar {
    background: #f5f5f5;
}

.flatpickr-day {
    transition: background 500ms ease-out;
}

.flatpickr-day.today {
    background: #f5f5f5;
    color: #393939;
    border: 2px solid #4E75FF;
    text-align: center;
}

.flatpickr-day.selected {
    background: #4E75FF;
}